<div class="modal fade" id="beneficiarioModal" tabindex="-1" role="dialog" aria-labelledby="beneficiarioModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="beneficiarioModalLabel">Beneficiários</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cpfBeneficiario">CPF:</label>
                    <input type="text" class="form-control" id="cpfBeneficiario" placeholder="Ex.: 010.011.111-00">
                </div>
                <div class="form-group">
                    <label for="nomeBeneficiario">Nome:</label>
                    <input type="text" class="form-control" id="nomeBeneficiario" placeholder="Ex.: Maria">
                </div>
                <button type="button" class="btn btn-success">Incluir</button>
                <hr />
                <table class="table">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>000.000.001-91</td>
                            <td>Beneficiário João</td>
                            <td>
                                <button type="button" class="btn btn-primary">Alterar</button>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </td>
                        </tr>
                        <tr>
                            <td>000.000.002-72</td>
                            <td>Beneficiário José</td>
                            <td>
                                <button type="button" class="btn btn-primary">Alterar</button>
                                <button type="button" class="btn btn-danger">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
